* {
    margin: 0;
    padding: 0
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Bitter', serif;
    font-size: 30px;
    background-image: url(wallpaper.jpg);
    background-position: center;
}

.container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px;
    
}

.quote {
    background-color: #ededed;
    padding: 5%;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #4f7ec9;
}

.quote-text {
    text-align: center;
}

.quote-author {
    text-align: right;
    margin-top: 60px;
    font-size: 70%;
}

.footer p {
    font-size: 45%;
    text-align: center;
    margin-top: 1%;
    color: #fff;
}

.buttons-div {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.button {
    border-radius: 4px;
    width: 49.5%;
    padding: 1%;
    font-size: 70%;
    cursor: pointer;
    background-color: #ededed;
    border: 1.5px solid #fff;
    box-shadow: 5px 5px 5px #4f7ec9;
}

.button:hover {
    border: 1.5px solid #4FA1C9;
    color: #4FA1C9;
    transition: border 0.3s, color 0.3s;
}

#tweet-btn {
    float: left;
}

#new-quote-btn {
    float: right;
}
